/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
  --hue: 333;
  --sat: 1;
  --lit: 1;

  --trans: 0.25s;
  --trans-function: cubic-bezier(0.61, 0.36, 0.1, 0.93);

  --menu-shadow: 2px 2px 24px 0 rgba(0, 0, 0, 0.35), 0 6px 48px 16px rgba(0, 0, 0, 0.65);
  --primary-shadow: inset 0 1px 0 0 hsl(var(--l2)), inset 0 -30px 20px -20px hsla(var(--l4), 45%);
  --normal-shadow: inset 0 1px 0 0 hsl(var(--b3)), inset 0 -30px 20px -20px hsl(var(--b6), 40%);
}
.colourful,
body {
  --c1: var(--hue), calc(var(--sat) * 40%), 100%;
  --c2: var(--hue), calc(var(--sat) * 60%), 94%;
  --c3: var(--hue), calc(var(--sat) * 10%), 60%;

  --l2: var(--hue), calc(var(--sat) * 40%), calc(clamp(min(0.5), var(--lit), max(1.5)) * 83%);
  --l3: var(--hue), calc(var(--sat) * 50%), calc(clamp(min(0.5), var(--lit), max(1.5)) * 70%);
  --l4: var(--hue), calc(var(--sat) * 60%), calc(clamp(min(0.5), var(--lit), max(1.5)) * 50%);
}
body {
  --b3: var(--hue), calc(var(--sat) * 10% * var(--sat-bg, 1)), 30%;
  --b4: var(--hue), calc(var(--sat) * 12% * var(--sat-bg, 1)), 16%;
  --b5: var(--hue), calc(var(--sat) * 12% * var(--sat-bg, 1)), 12%;
  --b6: var(--hue), calc(var(--sat) * 14% * var(--sat-bg, 1)), 6%;
  --b7: #000;
}

body {
  font-family: var(--font-outfit);
  font-size: 18px;
  line-height: 22px;
  user-select: none;

  background: hsl(var(--b6));
  color: hsl(var(--c2));
}

main {
  width: 900px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  height: 100vh;
}

a {
  color: hsl(var(--l3));
}

footer {
  font-size: 16px;
  line-height: 20px;

  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: hsl(var(--c3));

  .icon {
    width: 16px;
    height: 16px;
  }

  a {
    display: inline-flex;
    align-items: center;
  }
}

button {
  appearance: none;
  padding: 8px 12px;

  font: inherit;
  font-weight: 600;
  background: hsl(var(--l3));
  box-shadow: var(--primary-shadow);
  color: var(--b7);
  border-radius: 10px;
  border: none;
  height: 38px;

  cursor: pointer;

  display: inline-flex;
  gap: 6px;
  align-items: center;

  transition-property: background, transform;
  transition-duration: var(--trans);
  transition-timing-function: var(--trans-function);

  &:hover {
    background: color-mix(in hsl, hsl(var(--l3)), hsl(var(--l4)) 20%);
  }

  &:active {
    background: color-mix(in hsl, hsl(var(--l3)), hsl(var(--l4)) 40%);
    transform: scale(0.98);
  }

  .icon {
    width: 16px;
    height: 16px;
    stroke-width: 2.5px;
  }

  & > span {
    display: flex;
    align-items: center;
  }

  &.normal {
    background: hsl(var(--b4));
    color: hsl(var(--c2));
    box-shadow: var(--normal-shadow);

    &:hover {
      background: hsl(var(--b4), 90%);
    }

    &:active {
      background: hsl(var(--b4), 80%);
    }
  }
}